<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
    <title>MLFC</title>
  </head>
  <body>
    <div class="container">
      <div class="row" align="center">
        <h1> MLFC - Predicting Fantasy Football with Machine Learning </h1>
        <h3> Jack Culpan | Student Number: 089004 </h3>
        <br>
        <a href="/" class="href"><button>View your team</button> </a>
        <a href="/dreamteam" class="href"><button>View our dreamteam</button></a>
        <a href="/team" class="href"><button>View team predictions</button></a>
        <br><br>
        <form action="{{ url_for('team') }}" method="POST">
          <fieldset>
            <label for="gameweek">Which gameweek would you like a prediction for?</label>
              <select name="team" id="team">
                {% for team in teams %}
                <option value="{{ team[0] }}">{{ team[1] }}</option>

<!--                 <option value="1">Arsenal</option>
                <option value="2">Aston Villa</option>
                <option value="3">Bournemouth</option>
                <option value="4">Brighton</option>
                <option value="5">Burnley</option>
                <option value="6">Chelsea</option>
                <option value="7">Crystal Palace</option>
                <option value="8">Everton</option>
                <option value="9">Leicester</option>
                <option value="10">Liverpool</option>
                <option value="11">Man Utd</option>
                <option value="12">Man City</option>
                <option value="13">36+</option>
                <option value="14">36+</option>
                <option value="15">36+</option>
                <option value="16">36+</option>
                <option value="17">36+</option>
                <option value="18">36+</option>
                <option value="19">36+</option>
                <option value="20">36+</option> -->
              {% endfor %}
              </select>
                <select name="gameweek" id="gameweek" placeholder="{{ gameweek }}">
                <option value="41">32+</option>
                <option value="42">33+</option>
                <option value="43">34+</option>
                <option value="44">35+</option>
                <option value="45">36+</option>
                <option value="46">37+</option>
                <option value="47">38+</option>

              </select>
            <input type="Submit">
          </fieldset>
        </form>
      </div>
    </div>
  </body>
</html>
